<a href="https://colab.research.google.com/github/rushil00/ML-and-AI-Practice/blob/main/Module4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 4

File Handling, Writing Data to a File, Reading Data From a File - Additional File Methods: Using Pipes as Data Streams, Handling IO Exceptions, Working with Directories, Metadata, File  Organization, 

Database Programming - Generic Database Connectivity using ODBC, Postgres connection in Python, MySQL connection in Python.

# File handling 

A file is a collection of records. A record is a group of related data items. These data items may contain information related to students, employees, customers, etc. In other words, a file is a collection of numbers, symbols and text and can be considered a stream of characters.

Computer memory is volatile, so even if a user tries to store the data in the 
memory, its contents would be lost once a program is terminated. If the user needs the same data again, either it has to be entered through a keyboard or regenerated programmatically. Obviously,  both these operations are tedious. 

Most programs need to save and load information, such as data or state information, to and from files. Python provides many different ways of file handling.

**Which is the best file format to use for holding entire collections—binary, text, or XML?** 

<dl>
<dt>Binary formats:
<dd>* Binary formats are usually very fast to save and load and they can be very compact. 
<dd>* Binary data doesn’t need parsing since each data type is stored using
its natural representation. 
<dd>* Binary data is not human readable or editable, and without knowing the format in detail it is not possible to create separate tools to work with binary data.

<dt>Text formats:
<dd>* Text formats are human readable and editable, and this can make text files
easier to process with separate tools or to change using a text editor. 
<dd>* Text formats can be tricky to parse and it is not always easy to give good error messages if a text file’s format is broken (e.g., by careless editing).

<dt>XML formats: 
<dd>* XML formats are human readable and editable, although they tend to be
verbose and create large files. 
<dd>* Like text formats, XML formats can be processed using separate tools. <dd>* Parsing XML is straightforward (providing we use an XML parser rather than do it manually), and some parsers have good error reporting. 
<dd>* XML parsers can be slow, so reading very large XML files can take
a lot more time than reading an equivalent binary or text file. 
<dd>* XML includes metadata such as the character encoding (either implicitly or explicitly) that is not often provided in text files, and this can make XML more portable than text files.
</dl>









<h5><i><li>Programming in Python 3: A Complete Introduction to the Python Language, Second Edition, Mark Summerfield 
<li> PROGRAMMING AND PROBLEM SOLVING WITH PYTHON, Ashok Namdev Kamthane, Amit Ashok Kamthane</i></h5>

# Opening a File 
A file needs to open before we can perform read and write operations on it. To open a file, a user needs to first create a file object which is associated with a physical file. While opening a file, a user has to specify the name of the file and its mode of operation. 

The syntax to open a file is

```file object = open(File_Name, [Access_Mode],[Buffering]) ```

**Different modes to open a file**

<table>
  <tr>
    <th>Mode</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>R</td>
    <td> Opens a file for reading</td>
  </tr>
  <tr>
    <td>W</td>
    <td> Opens a new file for writing. If a file already exists, its contents are destroyed.</td>
  </tr>
  <tr>
    <td>A</td>
    <td>  Opens a file for appending data from the end of the file.</td>
  </tr>
  <tr>
    <td>Wb</td>
    <td> Opens a fi le for writing binary data.</td>
  </tr>
  <tr>
    <td>Rb</td>
    <td> Opens a fi le for reading binary data.</td>
  </tr>
</table>

In [ ]:
%%writefile mywords.txt
Hello!
Welcome to the world of python.
You will enjoy learning when you practice your own and found it running successfully.

Writing mywords.txt

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
f = open("mywords.txt","r")

In [ ]:
type(f)

_io.TextIOWrapper

In [ ]:
f.close()

# Reading a file

In [ ]:
print(f.read()) # Reading all records of file upto end of the file

Hello!
Welcome to the world of python.
You will enjoy learning when you practice your own and found it running successfully.

In [ ]:
f = open("mywords.txt","r")

In [ ]:
print(f.readline()) # Reading one line of the file upto new line
print(f.readline())

Hello!

Welcome to the world of python.

In [ ]:
f = open("mywords.txt","r")

In [ ]:
print(f.readline(),end="")
print(f.readline())

Hello!
Welcome to the world of python.

In [ ]:
f = open("mywords.txt","r")

In [ ]:
print(f.readlines())

['Hello!\n', 'Welcome to the world of python.\n', 'You will enjoy learning when you practice your own and found it running successfully.\n']

In [ ]:
f = open("yourwords.txt","w")

In [ ]:
f.write('Hello!')
f.close()

In [ ]:
f1= open("yourwords.txt","r")
print(f1.read())

Hello!

# Writing Text to a File

In [ ]:
def main():
 obj1 = open("Demo1.txt","w") #Opens file in Write mode
 obj1.write("Hello, How are You ?\n")
 obj1.write("Welcome to The chapter File Handling. \n")
 obj1.write("Enjoy the session. \n")
 
main() # Call to main function

In [ ]:
obj1 = open("Demo1.txt","a")
obj1.write("Hello, How are You ?\n")
obj1.close()

In [ ]:
obj2 = open("Demo1.txt","r") #Opens file in read mode
print(obj2.read())

Hello, How are You ?
Welcome to The chapter File Handling.
Enjoy the session.

In [ ]:
obj2 = open("Demo1.txt","r")
obj2.readline()

'Hello, How are You ?\n'

In [ ]:
obj2 = open("Demo1.txt","r")
ab=obj2.readlines()

In [ ]:
for itr in ab:
  print(itr, end="")

Hello, How are You ?
Welcome to The chapter File Handling.
Enjoy the session.
Hello, How are You ?

# Closing a File
When we have finished reading or writing from a file, we need to properly close it. Since an open file consumes system resources (depending on the mode of the file), closing it will free resources 
tied to it. This is done using the close() method. 

The syntax to close a file is:

```Fileobject.close()```

In [ ]:
fp1 = open("Demo1.txt","w")
fp1.close()

In [ ]:
obj1.close()
obj2.close()

# Writing Numbers to a File
In the above program, we have seen that the write (str s) method is used to write a string to a file. However, if we try to write numbers to a file, the Python interpreter shows an error.

In [ ]:
def main():
 obj1 = open("WriteNumbers.txt","w") #Open file in Write mode
 for x in range(1,20):
   obj1.write(x) #Write number X to a file
 obj1.close()
main()

TypeError: ignored

In [ ]:
def main():
 obj1 = open("WriteNumbers.txt","w") #Open file in Write mode
 for x in range(1,20):
   x = str(x)
   obj1.write(x) #Write number X to a file
   obj1.write(" ")
 obj1.close()
main()

In [ ]:
obj2 = open("WriteNumbers.txt","r")
obj2.read()

'1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 '

Generate 50 random numbers within a range 500 to 1000 and write them to file WriteNumRandom.txt

In [ ]:
range(51)

range(0, 51)

In [ ]:
from random import randint # Import Random Module
fp1 = open("WriteNumRandom.txt","w") # Open file in write mode 
for itr in range(1,51): #Iterates for 50 times
 x = randint(500,1000) #Generate one random number 
 x = str(x) #Convert Number to String
 fp1.write(x + " ") #Write Number to Output file 
fp1.close() #Finish Writing Close the file

In [ ]:
fp1 = open("WriteNumRandom.txt","r")
tx = fp1.read()

In [ ]:
tx

'524 550 612 989 690 707 804 572 548 632 628 915 862 758 835 953 524 947 871 981 590 562 535 769 557 848 842 523 979 618 917 665 701 712 696 860 843 584 632 526 560 750 896 566 646 738 963 535 995 930 '

In [ ]:
tx1= tx.split()
len(tx1)

50

# Reading Multiple Items on one Line

In [ ]:
fp1 = open("Demo1.txt","r") #open file in read mode
tx = fp1.readline()
tx

'Hello, How are You ?\n'

In [ ]:
for i in range(len(tx)):
   print(tx[i])

H
e
l
l
o
,

H
o
w

a
r
e

Y
o
u

?

In [ ]:
tx=tx.split()
tx

['Hello,', 'How', 'are', 'You', '?']

In [ ]:
for i in range(len(tx)):
   print(tx[i])

Hello,
How
are
You
?

In [ ]:
%%writefile grades.txt
5
60 70 80 90 100
55 65 75 85 60
70 60 80 90 67 
89 76 56 43 90
67 89 76 54 90

Writing grades.txt

In [ ]:
# Write a program to read the contents of a fi le Grades.txt and calculate the total marks and percentage obtained by a student
fp1 = open('grades.txt','r') #Open file in read mode 
n = int(fp1.readline()) #Read first line of file
print('Total Number of Students: ',n)
for i in range(n):
 print('Student #',i+1,':', end = ' ')
 allgrades = (fp1.readline().split())
 print(allgrades) 
 sum = 0
 for j in range(len(allgrades)):
   sum = sum + int(allgrades[j])
 per = float((sum/500)*100)
 print('Total = ',sum, ' \nPercentage = ',per)
 print('\n')

FileNotFoundError: ignored

# Appending Data

In [ ]:
fp1 = open('grades.txt','a')
fp1.write("\n 50 55 60 65 70")

16

In [ ]:
fp2 = open('grades.txt','r')
print(fp2.read())

 50 55 60 65 70

In [ ]:
fp2.read()

''

In [ ]:
fp1.close()
fp2.close()

# THE seek() FUNCTION 

When a file is opened, we can imagine an imaginary pointer positioned at the beginning of the file. 

Python provides an inbuilt function called seek() for moving the pointer explicitly to any position in a file. 

Thus, the seek() method is used to set the file pointer to a specific position in a file.

In [ ]:
fp1 = open('grades.txt','r')
fp1.seek(5)

5

In [ ]:
fp1.readline()

'70 80 90 100\n'

In [ ]:
fp1 = open('grades.txt','r')

In [ ]:
fp1.seek(0, 1) # move two characters ahead from the current position (1)
fp1.readline()

'55 65 75 85 60\n'

In [ ]:
fp1.seek(5) 
fp1.readline()

'70 80 90 100\n'

In [ ]:
fp1.seek(0, 0) # move two characters ahead from the absolute position (0)
fp1.readline()

'5\n'

In [ ]:
fp1.seek(0, 2) # move two characters ahead from the end position (2)
fp1.readline()

''

#  Pipe
A pipe is a method to pass information from one process to another process. It offers only one-way communication and the passed information is held by the system until it is read by the receiving process.



https://python-course.eu/applications-python/pipes-in-python.php

In [ ]:
msgs = ["hey","hello","hru?","end"]

In [ ]:
def send_msg(conn, msgs):
  for msg in msgs:
    conn.send(msg)
  conn.close()

def recv_msg(conn):
  while 1:
    msg = conn.recv()
    if msg=="end":
      break
    print(msg)

In [ ]:
#We are creating two connections for connecting two processes, kind of parent child relationship, 
#(but here both are just two process at the same level), these coneections will be passed as arguments
import multiprocessing
parent_conn, child_conn = multiprocessing.Pipe() #Returns two connection object connected by a pipe

In [ ]:
# creating two processes, one will act as parent and other as child
p1 = multiprocessing.Process(target=send_msg, args=(parent_conn, msgs)) #connections are being passed in the arguments
p2 = multiprocessing.Process(target=recv_msg, args=(child_conn,)) #arguments always take tupples, so need to put ','

In [ ]:
p1.start()
p2.start()

p1.join()
p2.join()

hey
hello
hru?

In [ ]:
# https://www.youtube.com/watch?v=5ff4_YK83fQ

![image.png]()

Data in a pipe may become corrupted if two processes (or threads) try to read from or write to the same end of the pipe at the same time. Of course there is no risk of corruption from processes using different ends of the pipe at the same time.

In [ ]:
# https://www.delftstack.com/howto/python/python-pipe/

import os
#The os.pipe() function returns two file descriptors; one for writing data to 
#the pipe and one for reading data written to the pipe. We will create a pipe 
#to pass information between two processes.
r, w = os.pipe() 
p_id = os.fork()
print(p_id)
if p_id:
   os.close(w)
   r = os.fdopen(r)
   print ("Parent process reading data from the pipe")
   data = r.read()
   print ("data =", data)
else:
   os.close(r)
   w = os.fdopen(w, 'w')
   print ("Child writing data to the pipe")
   w.write("data written by the child")
   w.close()

0
Child writing data to the pipe
480
Parent process reading data from the pipe
data = data written by the child

In [ ]:
%%writefile pipeTest.py
# https://linuxhint.com/python-pipe-example/
import os
# Create a pipe
r, w = os.pipe()

# Create a child process
pid = os.fork()

# pid greater than 0 represents the parent process
if pid:
  
    # This is the parent process 
    os.close(r)
  
    # Write some text to file descriptor w 
    
    print("Parent process is writing")
    text = b"Hello child process"
    os.write(w, text)
    #print("Written text:", text.decode())
    os.close(w)
    
else:
  
    # This is the child process 
    os.close(w)
  
    # Read the text written by parent process
    print("\nChild Process is reading")
    r = os.fdopen(r)
    print("Read text:", r.read())

Writing pipeTest.py

In [ ]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-

import os, sys

print ("The child will write text to a pipe and ")
print ("the parent will read the text written by child...")

# file descriptors r, w for reading and writing
r, w = os.pipe() 

processid = os.fork()
if processid:
    # This is the parent process 
    # Closes file descriptor w
    os.close(w)
    r = os.fdopen(r)
    print ("Parent reading")
    str = r.read()
    print("text =", str   )
    
else:
    # This is the child process
    os.close(r)
    w = os.fdopen(w, 'w')
    print ("Child writing")
    w.write("Text written by child...")
    w.close()
    print ("Child closing")

The child will write text to a pipe and
the parent will read the text written by child...
Child writing
The child will write text to a pipe and
the parent will read the text written by child...
Parent reading
text = Text written by child...
Child closing

# I/O Exception

IOError means Input/Output error. It occurs when a file, file path, or OS operation we’re referencing does not exist. For example, if you are running a runtime operation on an existing file, and the file goes missing from the location, Python will throw an IOError.

https://www.askpython.com/python/examples/handling-ioerrors

In [ ]:
import sys
def readFile():
    try:
        f = open ( "xyz.txt", 'r' )
    except IOError as e:
        print (e)
readFile()

[Errno 2] No such file or directory: 'xyz.txt'

# Working with Directories

All files are contained within various directories, and Python has no problem handling these too. The os module has several methods that help you create, remove, and change directories.

In [ ]:
# The getcwd() Method displays the current working directory.
import os

os.getcwd()

'/content/newdir'

In [ ]:
# You can use the mkdir() method of the os module to create directories in the current directory
os.mkdir("newdir")

In [ ]:
# You can use the chdir() method to change the current directory. 
os.chdir("newdir")

In [ ]:
os.chdir("/content")

In [ ]:
# The rmdir() method deletes the directory, which is passed as an argument in the method.
os.rmdir('newdir')

In [ ]:
os.chdir("/content")
os.rmdir('newdir')

In [ ]:
#  get all the files or directories from a particular path is by using os.listdir() method
import os
for x in os.listdir('.'):
   print(x)

.config
sample_data

In [ ]:
import os
for x in os.listdir(r'/content/sample_data'):
   print(x)

README.md
anscombe.json
california_housing_test.csv
california_housing_train.csv
mnist_test.csv
mnist_train_small.csv

In [ ]:
%%writefile pipeTest.py
hhello

Writing pipeTest.py

In [ ]:
for x in os.listdir('.'):
   if os.path.isfile(x): 
     print ('file-', x)
   elif os.path.isdir(x): 
     print ('directory-', x)
   elif os.path.islink(x): 
     print ('link-', x)
   else: 
     print ('---', x)

directory- .config
file- pipeTest.py
directory- sample_data

In [ ]:
os.chdir('./sample_data')
for x in os.listdir('.'):
   if os.path.isfile(x): 
     print ('file-', x)
   elif os.path.isdir(x): 
     print ('directory-', x)
   elif os.path.islink(x): 
     print ('link-', x)
   else: 
     print ('---', x)

file- README.md
file- anscombe.json
file- california_housing_test.csv
file- california_housing_train.csv
file- mnist_test.csv
file- mnist_train_small.csv

In [ ]:
# We can have one-liner using filter() to collect the files from a particular path 

list(filter(lambda x: os.path.isfile(x), os.listdir('.')))

['README.md',
 'anscombe.json',
 'california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_test.csv',
 'mnist_train_small.csv']

In [ ]:
# To get the list of directories using filter:

list(filter(lambda x: os.path.isdir(x), os.listdir('.')))

['.config', 'sample_data']

In [ ]:
# Finding files of a particular type

list(filter(lambda x: x.endswith('.csv'), os.listdir('.')))

['california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_test.csv',
 'mnist_train_small.csv']

In [ ]:
# We can write above code using list comprehension too
list(x for x in os.listdir('.') if x.endswith('.csv'))

['california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_test.csv',
 'mnist_train_small.csv']

In [ ]:
import os
for root, dirs, files in os.walk(r'/content'):
   for filename in files:
      print(filename)
   for dirname in dirs:
      print(dirname)

pipeTest.py
.config
sample_data
newdir
.last_update_check.json
.last_opt_in_prompt.yaml
gce
config_sentinel
active_config
.last_survey_prompt.yaml
configurations
logs
config_default
2022.08.31
13.47.11.927057.log
13.47.32.611835.log
13.46.43.989608.log
13.47.33.413502.log
13.47.03.944288.log
13.46.22.077074.log
README.md
anscombe.json
california_housing_test.csv
california_housing_train.csv
mnist_test.csv
mnist_train_small.csv
newdir
pipeTest.py
newdir
pipeTest.py
newdir

# Temporary files and directories
The tempfile module in standard library defines functions for creating temporary files and directories. They are created in special temp directories that are defined by operating system's file system. For example, under Windows the temp folder resides in profile/AppData/Local/Temp while in linux the temporary files are held in /tmp directory.

In [ ]:
import tempfile
f = tempfile.TemporaryFile()  # The file is opened in wb+ mode by default,
#(Opens a file for writing and reading in binary mode)
f.write(b'Welcome to TutorialsPoint')

25

In [ ]:
import os #In Python, seek() function is used to change the position of the 
#File Handle to a given specific position.
f.seek(3)
f.read()

b'come to TutorialsPoint'

In [ ]:
f.close()

In [ ]:
ff = tempfile.TemporaryFile(mode = 'w+')
ff.name
ff.write('hello world')
ff.seek(0)
ff.read()

'hello world'

In [ ]:
ff.close()

In [ ]:
# NamedTemporaryFile() is similar to TemporaryFile() function. 
# The only difference is that a file with a random filename is visible in the designated temp folder 
fo = tempfile.NamedTemporaryFile()
fo.name

'/tmp/tmpga52xivi'

In [ ]:
fo.write(b'hello world')
fo.seek(0)
fo.read()

In [ ]:
fo.close()

In [ ]:
# TemporaryDirectory()
f = tempfile.TemporaryDirectory()

In [ ]:
f = tempfile.TemporaryDirectory(dir = "/content")
f.name

'/content/tmp4n_f3obq'

In [ ]:
#The directory can be explicitly cleaned up by calling the cleanup() method
f.cleanup()

In [ ]:
#https://docs.python.org/3/library/tempfile.html#tempfile.mkstemp

f = tempfile.mkstemp(suffix = '.tp') # creates a temporary file, similar to TemporaryFile() , Additionally, suffix and prefix parameters
                    #Creates a temporary file in the most secure manner possible. There are no race conditions in the file’s creation.

In [ ]:
#https://docs.python.org/3/library/tempfile.html#tempfile.mkdtemp

tempfile.mkdtemp(dir = "/content") #  creates a temporary directory in operating system’s temp folder and returns its absolute path name
#Creates a temporary directory in the most secure manner possible. There are no race conditions in the directory's creation

'/content/tmpz45ixt19'

In [ ]:
tempfile.gettempdir() # returns name of directory to store temporary files.

'/tmp'

In [ ]:
#This os.chdir() method changes the current working directory to a specified path instance. 
#It does not return any value. This descriptor path must refer to the open directory, not to an open file.
os.chdir('/content')

# Metadata

Metadata is a library that provides for access to installed package metadata.

In [ ]:
import os

filename = '/content/pipeTest.py'

print(os.path.getsize(filename))
print(os.path.getmtime(filename))
print(os.path.getctime(filename))
print(os.stat(filename))

661
1663828232.9169152
1663828232.9169152
os.stat_result(st_mode=33188, st_ino=1966784, st_dev=45, st_nlink=1, st_uid=0, st_gid=0, st_size=661, st_atime=1663828232, st_mtime=1663828232, st_ctime=1663828232)

st_mode: the file type and permissions<br>
st_ino: the inode number<br>
st_dev: the device id<br>
st_uid: the file owner id<br>
st_gid: the file group id<br>
st_size: the file size

In [ ]:
stats = os.stat(filename)

print(stats.st_size)
print(stats.st_mtime)

661
1663828232.9169152

In [ ]:
!pip install importlib.metadata

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: importlib.metadata in /usr/local/lib/python3.7/dist-packages (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib.metadata) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib.metadata) (3.8.1)

In [ ]:
#from importlib.metadata import version

#import importlib.metada

In [ ]:
#!wget https://www.balgores.com/wp-content/uploads/2014/11/Changing_the_colour_of_my_car.jpg
!wget https://www.rotoscopers.com/wp-content/uploads/2021/02/Tom-and-Jerry-2021-5-1024x554.jpg

--2022-09-22 06:51:44--  https://www.rotoscopers.com/wp-content/uploads/2021/02/Tom-and-Jerry-2021-5-1024x554.jpg
Resolving www.rotoscopers.com (www.rotoscopers.com)... 132.148.41.26
Connecting to www.rotoscopers.com (www.rotoscopers.com)|132.148.41.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 46679 (46K) [image/jpeg]
Saving to: ‘Tom-and-Jerry-2021-5-1024x554.jpg.1’

Tom-and-Jerry-2021- 100%[===================>]  45.58K  --.-KB/s    in 0.06s

2022-09-22 06:51:44 (714 KB/s) - ‘Tom-and-Jerry-2021-5-1024x554.jpg.1’ saved [46679/46679]

In [ ]:
import os
filename = '/content/Tom-and-Jerry-2021-5-1024x554.jpg'
print(os.path.getsize(filename))

46679

In [ ]:
!pip install exif

In [ ]:
from exif import Image

In [ ]:
!wget https://github.com/ianare/exif-samples/blob/master/jpg/Canon_40D.jpg

--2022-09-22 07:00:21--  https://github.com/ianare/exif-samples/blob/master/jpg/Canon_40D.jpg
Resolving github.com (github.com)... 192.30.255.112
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Canon_40D.jpg.1’

Canon_40D.jpg.1         [ <=>                ] 138.29K  --.-KB/s    in 0.02s

2022-09-22 07:00:21 (7.27 MB/s) - ‘Canon_40D.jpg.1’ saved [141611]

In [ ]:
 import os

filename = '/content/Canon_40D.jpg'

print(os.path.getsize(filename))
print(os.path.getmtime(filename))
print(os.path.getctime(filename))
print(os.stat(filename))

141611
1663829242.9943907
1663829242.9943907
os.stat_result(st_mode=33188, st_ino=1966818, st_dev=45, st_nlink=1, st_uid=0, st_gid=0, st_size=141611, st_atime=1663829242, st_mtime=1663829242, st_ctime=1663829242)

In [ ]:
print(os.getcwd())
os.chdir("/content")

/content

In [ ]:
with open('Canon_40D.jpg', 'rb') as image_file:
  my_image = Image(image_file)
  
my_image.has_exif

False

In [ ]:
my_image.get('-v')

KeyError: ignored

# Generic Database Connectivity using ODBC

# Go More With

https://www.youtube.com/watch?v=qOyDrR3h5uI

https://www.youtube.com/watch?v=3c1dT47Fh5g

# Postgres connection in Python

https://www.postgresql.org/download/



PostgreSQL Details <br>
<pwd>lokesh
<port>5432

# Go More with



https://www.youtube.com/watch?v=RAFZleZYxsc

https://www.youtube.com/watch?v=M2NzvnfS-hI

https://www.youtube.com/watch?v=FQzzQnYERBc

https://www.postgresqltutorial.com/

# MySQL connection in python

https://www.youtube.com/watch?v=WuBcTJnIuzo


https://dev.mysql.com/downloads/mysql/

R-lokesh-U-lokesh-p-lokesh

Details in Mail of

Subject: Your Database is setup
Date: Mon, Mar 14 at 3:30 PM

# Reference

https://www.youtube.com/watch?v=8Vysa-Oa0k8

# SQLlite with Colab

https://www.youtube.com/watch?v=WaKOnXTKyhU

In [ ]:
!pip install db-sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting db-sqlite3
  Downloading db-sqlite3-0.0.1.tar.gz (1.4 kB)
Collecting db
  Downloading db-0.1.1.tar.gz (3.4 kB)
Collecting antiorm
  Downloading antiorm-1.2.1.tar.gz (171 kB)
     |████████████████████████████████| 171 kB 17.1 MB/s
Building wheels for collected packages: db-sqlite3, db, antiorm
  Building wheel for db-sqlite3 (setup.py) ... done
  Created wheel for db-sqlite3: filename=db_sqlite3-0.0.1-py3-none-any.whl size=1794 sha256=b34b4b705764314610e02ad17ffcec221935ad18593315e63bce3a7cf865e9df
  Stored in directory: /root/.cache/pip/wheels/02/38/d5/2f54461050571bf5330fee2a37ab1c9b5e7540b0572f1acdab
  Building wheel for db (setup.py) ... done
  Created wheel for db: filename=db-0.1.1-py3-none-any.whl size=3895 sha256=b7c3e3cef916e0043d05e473f3b774f5f99c7bb4d608d9da6e5b6eddf01e2882
  Stored in directory: /root/.cache/pip/wheels/8e/97/82/741d2b360507411ec233d0280d7371faa94b03bde834e4a9be
  Building wheel for antiorm (setup.py) ... done
  Created wheel for antiorm: filename=antiorm-1.2.1-py3-none-any.whl size=31679 sha256=74866b74922f0301cc26e436137cb8f94355d93eac552e1215b149fca021954c
  Stored in directory: /root/.cache/pip/wheels/c5/43/70/e9729370cfff40c49d3e3d05377d54b3ecd71f64e62341ea80
Successfully built db-sqlite3 db antiorm
Installing collected packages: antiorm, db, db-sqlite3
Successfully installed antiorm-1.2.1 db-0.1.1 db-sqlite3-0.0.1

In [ ]:
import sqlite3

In [ ]:
#connecting with the database
db = sqlite3.connect("testing.db")

In [ ]:
db2 = sqlite3.connect("stud.db")

In [ ]:
db.execute("drop table if exists reslts;")

try:
  db.execute("create table results(Name text,Date datetime, Mobile text, Mail text)")
except:
  print("Already table existed  !!")

Already table existed  !!

In [ ]:
db.execute("insert into results(Name, Mobile, Date, Mail) values('Ash','97708905', '14-03-2022', 'ash@gmail.com')")
db.commit()

In [ ]:
# query your data

rs= db.execute("Select * from results")
for row in rs:
  print(row)

('Ash', '14-03-2022', '97708905', 'ash@gmail.com')
('Ash', '14-03-2022', '97708905', 'ash@gmail.com')
('Ash', '14-03-2022', '97708905', 'ash@gmail.com')

In [ ]:
import pandas as pd
qry = """
Select * from results

"""
df = pd.read_sql_query(qry,db)
df.head()

  Name        Date    Mobile           Mail
0  Ash  14-03-2022  97708905  ash@gmail.com
1  Ash  14-03-2022  97708905  ash@gmail.com
2  Ash  14-03-2022  97708905  ash@gmail.com

In [ ]:
def pushtoDB(Name, Mobile, Mail):
   from datetime import date
   Date = date.today().strftime("%d-%m-%y")
   cmd="insert into results(Name, Mobile, Date, Mail) values('{}','{}','{}','{}')".format(Name, Mobile, Date, Mail)
   db.execute(cmd)
   db.commit()

In [ ]:
%%writefile dummy.csv
Name, Mobile, Mail
Ashok, 977, ash@gmail.com
Kumar, 089, kum@gmail.com
Patel, 058, pat@gmail.com

Writing dummy.csv

In [ ]:
import pandas as pd
data = pd.read_csv("dummy.csv")
data.head()

    Name   Mobile            Mail
0  Ashok      977   ash@gmail.com
1  Kumar       89   kum@gmail.com
2  Patel       58   pat@gmail.com

In [ ]:
data.shape

(3, 3)

In [ ]:
for i in range(0,len(data)):
  pushtoDB(data.iloc[i][0],data.iloc[i][1],data.iloc[i][2])

In [ ]:
import pandas as pd
qry = """
Select * from results

"""
df = pd.read_sql_query(qry,db)
df.tail()

    Name        Date    Mobile            Mail
1    Ash  14-03-2022  97708905   ash@gmail.com
2    Ash  14-03-2022  97708905   ash@gmail.com
3  Ashok    12-09-22       977   ash@gmail.com
4  Kumar    12-09-22        89   kum@gmail.com
5  Patel    12-09-22        58   pat@gmail.com

In [ ]:
 # db = sqlite3.connect("new.db")

# Connecting to SQL

https://www.youtube.com/watch?v=g60QghtJmjY

In [ ]:
!pip install urllib3

Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (1.24.3)

In [ ]:
import csv
import urllib3

http = urllib3.PoolManager()
r = http.request('GET', 'http://winterolympicsmedals.com/medals.csv')
r.status
r.data



cr = csv.reader(r.data)

for row in cr:
    print(row)

Error: ignored