<a href="https://colab.research.google.com/github/rushil00/ML-and-AI-Practice/blob/main/Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 2

<b>Conditions, boolean logic, logical operators, ranges, Control 
statements: if-else, loops (for, while), Flow control, Functions, 
Scoping, Exceptions, Input and output, Modules, Collections, 
Lists, Tuples, Sets, Dictionaries, Modules, Standard Modules, 
Regular Expressions, Quantifiers, Basic String Operations <b>

# Conditions
Conditions in Python or Conditional statements are used to perform decision making challenges. Python uses boolean logic to evaluate conditions. The boolean values True and False are returned when an expression is compared or evaluated. 


<h5> https://www.learnpython.org/en/Conditions </h5>

In [ ]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

# Boolean operators
The "and" and "or" boolean operators allow building complex boolean expressions

In [ ]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

# The "in" operator
The "in" operator could be used to check if a specified object exists within an iterable object container, such as a list

In [ ]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

# The 'is' operator
Unlike the double equals operator "==", the "is" operator does not match the values of the variables, but the instances themselves.

In [ ]:
x = [1,2,3]
y = [1,2,3]
print(x == y) 
print(x is y)

True
False

In [ ]:
id(x)

140339392643632

In [ ]:
id(y)

140339392643952

# The "not" operator
Using "not" before a boolean expression inverts it

In [ ]:
print(not False) 
print((not False) == (False))

True
False

https://towardsdatascience.com/cheat-sheet-for-google-colab-63853778c093

# Boolean logic 

## George Boole (1815–1864) developed what is now called Boolean algebra, which is the foundation of the digital logic behind computer hardware and programming languages.

##With the help of Boolean logic, you can evaluate conditions and decide what operations your programs will execute, depending on the truth value of those conditions. This is an important cornerstone in programming and provides you with the tools to decide the execution flow of your programs.

Python has three Boolean operators that are typed out as plain English words:
1.   and
2.   or
3.   not

## Syntax for Boolean expression with or in Python
```
    exp1 or exp2
```

<h2>Here’s a summary of the Python or operator’s behavior:<h2>
<table>
<tr>
<th>Result of exp1
<th>Result of exp2<th>	Result of exp1 or exp2
<tr>
<th>True <th> True <th> True
<tr>
<th>True <th>	False	<th>True
<tr>
<th>False <th>	True <th>	True
<tr>
<th>False	<th> False <th>	False
</table>









<h5>https://realpython.com/python-or-operator/<h5>

In [ ]:
exp1 = 1 == 2
exp1

False

In [ ]:
exp2 = 7 > 3
exp2

True

In [ ]:
exp1 or exp2

True

In [ ]:
exp2 or exp1

True

In [ ]:
exp3 = 3 < 1
exp1 or exp3

False

## If the operands involved in an or operation are objects instead of Boolean expressions, then the Python or operator returns a true or false object, not the values True or False as you could expect. The truth value of this object is determined according to the rules you’ve seen before.

### You can summarize the behavior as follows:

<table>
<tr>
<th>Left Object	<th>Right Object	<th>Result of x or y
<tr>
<th>x	<th>y	<th>x, if it evaluates to true, otherwise y.
<table>

In [ ]:
2 or 3 #the first operands are true (nonzero), so the Python or operator always returns the first one

2

In [ ]:
5 or 0.0  #the first operands are true (nonzero), so the Python or operator always returns the first one

5

In [ ]:
[] or 3   # {}, (), [] the left operand is false (an empty object). The Python or operator evaluates both operands and returns the object on the right, which may evaluate to either true or false.

3

In [ ]:
0 or {}  # the left operand is false (an empty object). The Python or operator evaluates both operands and returns the object on the right, which may evaluate to either true or false.

{}

## You can also combine Boolean expressions and common Python objects in an or operation.You can also combine Boolean expressions and common Python objects in an or operation.

<h2>Here’s a summary:<h2>
<table>
<tr>
<th>Result of exp <th>Result of obj<th>	Result of exp or obj
<tr>
<th>True <th> True <th> True
<tr>
<th>True <th>	False	<th>True
<tr>
<th>False <th>	True <th>	obj
<tr>
<th>False	<th> False <th>	obj
</table>

In [ ]:
2 < 4 or 2  # Case 1

True

In [ ]:
2 < 4 or []  # Case 2

True

In [ ]:
5 > 10 or []  # Case 3

[]

In [ ]:
[] or 5>10

False

In [ ]:
5 > 10 or 4  # Case 4

4

In [ ]:
4 or 5>10

4

## Python’s <b>and</b> operator takes two operands, which can be Boolean expressions, objects, or a combination. With those operands, the and operator builds more elaborate expressions. The operands in an and expression are commonly known as <b>conditions</b>. If both <b>conditions</b> are true, then the and expression returns a true result. Otherwise, it returns a false result.

Syntex:
```
expression1 and expression2
```

<h3>The and operator’s truth table:</h3>

<table>
<tr>
<th>Result of exp1 <th>Result of obj<th>	Result of exp1 and exp2
<tr>
<th>True <th> True <th> True
<tr>
<th>True <th>	False	<th>False
<tr>
<th>False <th>	True <th>	False
<tr>
<th>False	<th> False <th>	False
</table>


<h5>https://realpython.com/python-and-operator/<h5>

In [ ]:
True and True

True

In [ ]:
False and False

False

In [ ]:
True and False

False

In [ ]:
False and True

False

In [ ]:
 5 > 3 and 5 == 3 + 2

True

In [ ]:
5 < 3 and 5 == 5

False

In [ ]:
5 == 5 and 5 != 5

False

In [ ]:
5 < 3 and 5 != 5

False

<table>
<tr>
<th>Left Object	<th>Right Object	<th>Result of x and y
<tr>
<th>x	<th>y	<th>y, if it evaluates x as true, otherwise x.
<table>

In [ ]:
2 and 3

3

In [ ]:
[] and 3

[]

In [ ]:
[] and 0

[]

In [ ]:
4 and []

[]

Write a program to prompt a user to enter the values of the three different variables and display the output of the following expressions.
```
a. p>q>r
b. p<q<r
c. p<q and q<z
d. p<q or q<z
```

In [ ]:
p,q,r=eval(input('Enter Three Numbers:'))

Enter Three Numbers:12,15,17

In [ ]:
print(p>q>r)

False

In [ ]:
print(p<q<r)

True

In [ ]:
p<q and q<r

True

In [ ]:
p<q or q<r

True

# Control statements: if-else<br>

Python supports various decision-making statements. These are:
 1. if statements
 2. if-else statements
 3. Nested if statements
 4. Multi-way if-elif-else statements


 # The if Statements
The if statement executes a statement if a condition is true

```
if condition:
 statement(s)
```

In [ ]:
Number=eval(input("Enter the Number: "))
if Number>0:
 Number = Number * Number

Number

Enter the Number: 5

25

In [ ]:
Number=eval(input("Enter the Number: "))
if Number%2==0:
  print("Number is even")

Enter the Number: 8
Number is even

# The if-else Statement
The if-else statement takes care of a true as well a false condition.

```
if condition:
 statement(s)
else:
 statement(s)
```

In [ ]:
Number=eval(input("Enter the Number: "))
if Number%2==0:
  print("Number is even")
else:
  print("Number is odd")

Enter the Number: 8
Number is even

In [ ]:
num1=int(input("Enter the First Number:"))
num2=int(input("Enter the Second Number:"))
if num1>num2:
 print(num1,"is greater than ",num2)
else:
 print(num2,"is greater than ",num1)

Enter the First Number:55
Enter the Second Number:87
87 is greater than  55

# Nested if Statements
When a programmer writes one if statement inside another if statement then it is called a nested if statement. 

A general syntax for nested if statements is given as follows:
```
if Boolean-expression1:
 if Boolean-expression2:
  statement1
 else:
  statement2
else:
  statement3
```

In [ ]:
# Find the largest value in three number
num1=int(input("Enter the number:"))
num2=int(input("Enter the number:"))
num3=int(input("Enter the number:"))
if num1>num2:
  if num1>num3:
    print(num1,"is greater than ",num2,"and ",num3)
  else:
    print(num3,"is greater than ",num1,"and ",num2)
else:
  if num2>num3:
    print(num2," is greater than ",num1, "and",num3)
  else:
    print(num3,"is greater than ",num1,"and ",num2)
print("End of Nested if")

Enter the number:12
Enter the number:54
Enter the number:10
54  is greater than  12 and 10
End of Nested if

## Write a program to calculate the salary of a medical representative considering the sales bonus and incentives offered to him are based on the total sales. If the sales exceed or equal to Rs. 1,00,000 follow the particulars of Column 1, else follow Column 2.

In [ ]:
sell = int(input("Enter your sell values"))
Basic=4000
Conveyance =500
DA =Basic*1.10

if sell>=100000:
  Salary=Basic+Basic*0.20+ DA +Conveyance+sell*0.1+ 1000
else:
  Salary=Basic+Basic*0.10+ DA +Conveyance+sell*0.04+ 500

print("Thank you, this month your salary is :", Salary)

Enter your sell values120000
Thank you, this month your salary is : 22700.0

In [ ]:
mark = 70
if mark>90:
  print("A")
elif mark>80:
  print("B")
elif mark>70:
  print("C")
elif mark>60:
  print("D")
else:
  print("F")

D

https://www.hackerrank.com/challenges/30-conditional-statements/problem

In [ ]:
n = int(input("Enter n"))
if n%2 != 0:
  print("Weird")
elif n>=2 and n<=5:
  print("Not Weird")
elif n>=6 and n<=20:
  print("Weird")
else:
  print("Not Weird")

Enter n10
Weird

# Loop <br>
## In a programming language, a loop is a statement that contains instructions that continually repeats until a certain condition is reached.


1.   Loops help us remove the redundancy of code when a task has to be repeated several times. 
2.   List item

## The three types of loops in Python programming are:

1.   while loop
2.   for loop
3.   nested loops

# while loop<br>

## It continually executes the statements(code) as long as the given condition is TRUE. It first checks the condition and then jumps into the instructions.

Syntax:
```
while condition:
   statements(code)
```

In [ ]:
#Example 1: Print the text “Hello, World!” 5 times.
num_of_times = 1
while num_of_times <= 5:
  print("Hello, World!")
  num_of_times += 1
print("Loop Completed")

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!
Loop Completed

In [ ]:
# Example 2: Create a list of all the even numbers between 1 and 10
num = 1
even_numbers = []
while num <= 10:
  if num % 2 == 0:
    even_numbers .append(num)
  num += 1
print("Even Numbers list: ", even_numbers )

Even Numbers list:  [1, 3, 5, 7, 9]

# for loop<br>

## A for loop is used to iterate over a sequence like lists, type, dictionaries, sets, or even strings.

##Loop statements will be executed for each item of the sequence.

*Syntax of for loop:*
```
for item in iterator:
    statements(code)
```

In [ ]:
# Example 1: Print the text “Hello, World!” 5 times.
list = [1, 2, 3, 4, 5]
for num in list:
    print("Hello, World!", num)

Hello, World! 1
Hello, World! 2
Hello, World! 3
Hello, World! 4
Hello, World! 5

In [ ]:
a=range(11,1,-2)
for i in a:
  print(i)

11
9
7
5
3

In [ ]:
a=range(1,11)
a

range(1, 11)

In [ ]:
# Example 2: Create a list of all the even numbers between 1 and 10
even_nums = []
for i in range(1, 11):
    if i % 2 == 0:
        even_nums.append(i)
print("Even Numbers: ", even_nums)

Even Numbers:  [2, 4, 6, 8, 10]

In [ ]:
city = ["Bhopal","Indore", "Nagpur", "Jhansi"]
for i in city:
  print(i)

i = 0
while i<len(city):
  print(city[i])
  i+=1

Bhopal
Indore
Nagpur
Jhansi
Bhopal
Indore
Nagpur
Jhansi

In [ ]:
# Example 3: Display the items of a dictionary
example = {
    'iterator': 'dictionary',
    'loop': 'for',
    'operation': 'display dictionary elements'
}
for key in example:
    print(f"{key}: {example[key]}")

for val in example.values():
    print(f" {val}")

iterator: dictionary
loop: for
operation: display dictionary elements
 dictionary
 for
 display dictionary elements

# Nested loops<br>
## Nested loops mean using a loop inside another loop. We can use any type of loop inside any type of loop. We can use
1. a while loop inside for loop, 
2. a for loop inside a while loop, 
3. a while loop inside a while loop, or 
4. a for loop inside a for  loop.

In [ ]:
# Example: Create a list of even numbers between 1 and 10

even_list = []
for item in range(1, 11):
    while item % 2 == 0:
        even_list.append(item)
        break
print("Even Numbers: ", even_list)

Even Numbers:  [2, 4, 6, 8, 10]

In [ ]:
for i in [1,2,3]:
  for j in [1,2,3]:
    print(i*j,end=" ")
  print()

1 2 3
2 4 6
3 6 9

In [ ]:
matrix = [[1,2,3,4],[4,5,6,4],[7,8,9,4]]
print(matrix)

[[1, 2, 3, 4], [4, 5, 6, 4], [7, 8, 9, 4]]

In [ ]:
print(len(matrix))
print(len(matrix[0]))

3
4

In [ ]:
i=0
while i<len(matrix):  
  print(matrix[i])  
  i+=1

[1, 2, 3, 4]
[4, 5, 6, 4]
[7, 8, 9, 4]

In [ ]:
# addition of matrix
i=0
while i<len(matrix): 
  j=0
  while j<len(matrix[0]):
    matrix[i][j]=matrix[i][j]+matrix[i][j]
    j+=1
  print(matrix[i])  
  i+=1

[2, 4, 6, 8]
[8, 10, 12, 8]
[14, 16, 18, 8]

Write a Program for squre matrix multiplication (#row == #column)

# Loop Control Statements
## Loop control statements are used to change the flow of execution. These can be used if you wish to skip an iteration or stop the execution.

## The three types of loop control statements are:

1. break statement
2. continue statement
3. pass statement

In [ ]:
# Example: Create a list of the odd numbers between 1 and 20 (use while, break)

num = 1
odd_nums = []
while num:
    if num % 2 != 0:
        odd_nums.append(num)
    if num >=20:
        break
    num += 1
print("Odd numbers: ", odd_nums)

Odd numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
for num in range(1, 11):
  if num is 2:
    pass # Pass statement
  else:
    print ("Number: ", num)

Number:  1
Number:  3
Number:  4
Number:  5
Number:  6
Number:  7
Number:  8
Number:  9
Number:  10

In [ ]:
def display(number):
  
  if number is 2:
    pass # Pass statement as Cotinue can not be used
  else:
    print ("Number: ", number)

In [ ]:
display(3)

Number:  3

In [ ]:
display(2)

In [ ]:
# Example: Print odd number 1 to 10

for num in range(1, 11):
    if num %2 == 0:
        continue
    else:
        print(num)

1
3
5
7
9

<h2>Write a program to display the pattern of stars given as follows<br>

```
*  *  *  *  *
*  *  *  *  
*  *  * 
*  *
*
```

In [ ]:
for i in range(5,0,-1):
  for j in range(0,i):
    print("*",end = " ")
  print("\r")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5,0,-1):
  print("* "*i)

* * * * *
* * * *
* * *
* *
*

<h2>Write a program to display the pattern of stars given as follows<br>

```
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  
*  *  * 
*  *
*
```

In [ ]:
i = 1
while i < 10:
  j=1
  while j<=i and i<=5:
    print("*",end = " ")
    j+=1
  while j<=10-i and i>5:
    print("*",end = " ")
    j+=1
  print("\r")
  i+=1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input())
i = 1
while (i <= n//2 + 1 ):
    print("* "*i)
    i += 1
i -= 2
while (i>0):
    print("* "*i)
    i -= 1

9
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Exception Handling 
Python indicates errors and exceptional conditions by raising exceptions, although some third-party Python libraries use more old-fashioned techniques,
such as “error” return values.

Exceptions are caught using try … except blocks, whose general syntax is:
```
try:
  try_suite
except exception_group1 as variable1:
  except_suite1 
…
except exception_groupN as variableN:
  except_suiteN
else:
  else_suite
finally:
    finally_suite
```

There must be at least one except block, but both the else and the finally
blocks are optional. 
<br>The else block’s suite is executed when the try block’s suite has finished normally—but it is not executed if an exception occurs. 
<br>If there is a finally block, it is always executed at the end.

![Capture.PNG]()

In [ ]:
d={1: "ashok",2:"lokesh"}
try:
  x = d[5]
except LookupError: # WRONG ORDER
  print("Lookup error occurred")
except KeyError:
  print("Invalid key used")

Lookup error occurred

In [ ]:
#e={1: "ashok",2:"lokesh"}
e=[1,2,3]
try:
  y = e[5]
except KeyError:
  print("Invalid key used")
except LookupError: 
  print("Lookup error occurred")

Invalid key used

# Function
Functions are a means by which we can package up and parameterize functionality. 
<br><br>Four kinds of functions can be created in Python: 
<ol>
<li>global functions, 
<li>local functions, 
<li>lambda functions, and 
<li>methods.
</ol>


<dl>
  <dt>Global functions:</dt>
  <dd>- Every function we have created so far has been a global function. Global
objects (including functions) are accessible to any code in the same module
(i.e., the same .py file) in which the object is created.</dd>
  <dt>Local functions:</dt>
  <dd>- Local functions (also called nested functions) are functions that are defined inside other functions. These functions are visible only to the function where they are defined; they are especially useful for creating small helper functions that have no use elsewhere.</dd>
  <dt>Lambda functions:</dt>
  <dd>- Lambda functions are expressions, so they can be created at their point of use; however, they are much more limited than normal functions.</dd>
  <dt>Methods:</dt>
  <dd>- Methods are functions that are associated with a particular data type and can be used only in conjunction with the data type</dd>
</dl>




The general syntax for creating a (global or local) function is:
```
def functionName(parameters):
  suite
```

The parameters are optional, and if there is more than one they are written as a sequence of comma-separated identifiers i.e. (a, b, c), or as a sequence of identifier=value pairs i.e. (a, b=1, c=2)

Note:<i> The parameter syntax does not permit us to follow parameters with default values with parameters that don’t have defaults i.e. (a, b=1, c)</i>

In [ ]:
# A function that calculates the area of a triangle using Heron’s formula:
import math
def heron(a, b, c):
  s = (a + b + c) / 2
  return math.sqrt(s * (s - a) * (s - b) * (s - c))

In [ ]:
heron(2, 3,  4)

2.9047375096555625

In [ ]:
math.sqrt(-9)

3.0

In [ ]:
heron(3, 4) #  If we give too few or too many arguments, a TypeError exception will be raised

TypeError: ignored

Every function in Python returns a value, although it is perfectly acceptable
(and common) to ignore the return value. 
<br>The return value is either a single value or a tuple of values, and the values returned can be collections, so there are no practical limitations on what we can return. 
<br>We can leave a function at any point by using the return statement. 
<br>If we use return with no arguments, or if we don’t have a return statement at all, the function will return None.

In [ ]:
def testreturn():
  print("without return")

In [ ]:
testreturn()

without return

In [ ]:
# Some functions have parameters for which there can be a sensible default
# Here is a function that counts the letters in a string, defaulting to the ASCII letters:

import string

def letter_count(text, letters=string.ascii_letters):
  letters = frozenset(letters) #The frozenset() is an inbuilt function in Python which takes an iterable object as input and makes them immutable. 
  count = 0
  for char in text:
    if char in letters:
      count += 1
  return count

In [ ]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [ ]:
letter_count("Maggie and Hopey")

14

In [ ]:
len("Maggie and Hopey")

16

In [ ]:
letter_count("Maggie and Hopey", "aeiouAEIOU") # can still change the default, by using an extra positional argument

6

In [ ]:
letter_count(letters="aeiouAEIOU", text= "Maggie and Hopey") # can still change the default, by using an extra keyword argument

6

In [ ]:
# Here is a tiny function that returns the string it is given, or 
# if it is longer than the specified length, it returns a shortened version with an indicator added:
def shorten(text, length=25, indicator="..."):
  if len(text) > length:
    text = text[:length - len(indicator)] + indicator
  return text

In [ ]:
  shorten("The Silkie")

'The Silkie'

In [ ]:
shorten("if it is longer than the specified length, it returns a shortened version with an indicator added")

'if it is longer than t...'

In [ ]:
shorten(length=9, text="The Silkie")

'The Si...'

In [ ]:
shorten("The Silkie", indicator="&", length=7)

'The Si&'

In [ ]:
shorten("The Silkie", 7, "&")

'The Si&'

The careful use of default values can simplify our code and make calls much cleaner. 
<br><br>Recall that the built-in open()function has one mandatory argument i.e. open(filename), and six optional arguments i.e. open(filename, "r", None, "utf8", None, None, True).
<br><br>When default values are given they are created at the time the def statement is executed (i.e., when the function is created), not when the function is called.
<br><br>For immutable arguments like numbers and strings this doesn’t make any
difference, but for mutable arguments a subtle trap is lurking.

In [ ]:
def append_if_even(x, lst=[]): # WRONG!
  if x % 2 == 0:
    lst.append(x)
  return lst

In [ ]:
x=append_if_even(6)  #  the default list will be the one that was created at the same time as the function itself—so
                           #no new list is created
x

[4, 4, 6]

In [ ]:
y=append_if_even(4)
y

[4, 4, 6, 4]

In [ ]:
x is y

True

In [ ]:
x

[4, 4, 6, 4]

In [ ]:
def append_if_even1(x, lst=None):
  if lst is None:
    lst = []
  if x % 2 == 0:
    lst.append(x)
  return lst

In [ ]:
x= append_if_even1(4)
x

[4]

In [ ]:
y= append_if_even1(4)
y

[4]

In [ ]:
x is y

False

In [ ]:
# We can create a function that writes the Fibonacci series to an arbitrary boundary
def fib(n):    # write Fibonacci series up to n
  """Print a Fibonacci series up to n."""
  a, b = 0, 1
  while a < n:
    print(a, end=' ')
    a, b = b, a+b
  print()

fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

# Lambda functions
Lambda functions are functions created using the following syntax:
```
lambda parameters: expression
```

In [ ]:
#  a simple lambda function for adding an s (or not) depending on whether its argument is 1
s = lambda x: "" if x == 1 else "s"

In [ ]:
s(3)

's'

In [ ]:
s(1)

''

In [ ]:
# Lambda functions are often used as the key function for the built-in sorted() function and for the list.sort() method.

# Suppose we have a list of elements as 3-tuples of (group, number, name)
elements = [(2, 12, "Mg"), (1, 11, "Na"), (1, 3, "Li"), (2, 4, "Be")]
elements.sort()
elements

[(1, 3, 'Li'), (1, 11, 'Na'), (2, 4, 'Be'), (2, 12, 'Mg')]

In [ ]:
elements = [(2, 12, "Mg"), (1, 11, "Na"), (1, 3, "Li"), (2, 4, "Be")]
elements.sort(key=lambda e: (e[1], e[2]))
elements

[(1, 3, 'Li'), (2, 4, 'Be'), (1, 11, 'Na'), (2, 12, 'Mg')]

In [ ]:
elements = [(2, 12, "Mg"), (1, 11, "Na"), (1, 3, "Li"), (2, 4, "Be")]
elements.sort(key=lambda e: e[1:3])
elements

[(1, 3, 'Li'), (2, 4, 'Be'), (1, 11, 'Na'), (2, 12, 'Mg')]

In [ ]:
elements = [(2, 12, "Mg"), (1, 11, "Na"), (1, 3, "Li"), (2, 4, "Be")]
elements.sort(key=lambda e: (e[2].lower(), e[1]))
elements

[(2, 4, 'Be'), (1, 3, 'Li'), (2, 12, 'Mg'), (1, 11, 'Na')]

In [ ]:
area = lambda b, h: 0.5 *b*h

In [ ]:
area(5,10)

25.0

# Modules and Packages

Whereas functions allow us to parcel up pieces of code so that they can be
reused throughout a program, modules provide a means of collecting sets of
functions together so that they can be used by any number of programs.

Python also has facilities for creating packages—these are sets of modules that are grouped together, usually because their modules provide related functionality or because they depend on each other.

<ol>
<li>A Python module, simply put, is a .py file. A module can contain any Python
code we like. 
<li>All the programs we have written so far have been contained in a
single .py file, and so they are modules as well as programs. 
<li>The key difference is that programs are designed to be run, whereas modules are designed to be imported and used by programs.
</ol>


<br><i>Several syntaxes can be used when importing. For example:</i>
```
import importable
import importable1, importable2, ..., importableN
import importable as preferred_name
```

Here <b>importable</b> is usually a module such as collections, but could be a package or a module in a package, in which case each part is separated with a dot (.), for example, os.path.

In [ ]:
filename="/content/sample_data/mnist_test.csv"
import os
print(os.path.basename(filename)) # safe fully qualified access

mnist_test.csv

In [ ]:
import os.path as path
print(path.basename(filename)) # risk of name collision with path

mnist_test.csv

In [ ]:
from os import path
print(path.basename(filename)) # risk of name collision with path

mnist_test.csv

In [ ]:
from os.path import basename
print(basename(filename)) # risk of name collision with basename

mnist_test.csv

In [ ]:
from os.path import *
print(basename(filename)) # risk of many name collisions
print(dirname(filename))

mnist_test.csv
/content/sample_data

# how does Python know where to look for the modules and packages that are imported?
The built-in sys module has a list called sys.path that holds a list of the directories that constitute the Python
path. 
<ol>
<li>The first directory is the directory that contains the program itself, even if the program was invoked from another directory. 
<li>If the PYTHONPATH environment variable is set, the paths specified in it are the next ones in the list, and
<li>the final paths are those needed to access Python’s standard library—these are set when Python is installed.
</ol>

A package is simply a directory that contains a set of modules and a file called
```__init__.py```. Suppose, for example, that we had a fictitious set of module files
for reading and writing various graphics file formats, such as Bmp.py, Jpeg.py,
Png.py, Tiff.py, and Xpm.py, all of which provided the functions load(), save(),
and so on.

```
Graphics/
 __init__.py
 Bmp.py
 Jpeg.py
 Png.py
 Tiff.py
 Xpm.py
 ```

In [ ]:
!mkdir ash

Copy the file from desktop ash folder

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.chdir('ash')
os.getcwd()

'/content/ash'

In [ ]:
import ash.add as add

In [ ]:
add.add2()

Its adding two number

In [ ]:
from ash.add import *

In [ ]:
add2()
add3()

Its adding two number
Its adding three number

In [ ]:
os.chdir('/content')
os.getcwd()

'/content'

# Sequence Types 
A sequence type is one that supports the membership operator (in), the size function (len()), slices ([]), and is iterable. 
Python provides five built-in sequence types: 
<ol>
<li>bytearray, 
<li>bytes, 
<li>list, 
<li>str, and
<li>tuple.

# Tuples 
A tuple is an ordered sequence of zero or more object references. Tuples String support the same slicing and striding syntax as strings. This makes it easy to extract items from a tuple. 

Like strings, tuples are immutable, so we cannot replace or delete any of their items. If we want to be able to modify an ordered sequence, we simply use a list instead of a tuple; or if we already have a tuple but want to modify it, we can convert it to a list using the list() conversion
function and then apply the changes to the resultant list.

In [ ]:
# The tuple data type can be called as a function, tuple()—with no arguments it returns an empty tuple
s=tuple()
s

()

In [ ]:
# -with any other argument it attempts to convert the given object to a tuple.
s=tuple("ashok")
s

('a', 's', 'h', 'o', 'k')

In [ ]:
t=tuple("ashok",56)
t

TypeError: ignored

In [ ]:
t=()
t

()

In [ ]:
# Tuples provide just two methods, 
# t.count(x), which returns the number of times object x occurs in tuple t, and 
t='India is the best'
print(t.count("i"))
print(t.count("z"))
# t.index(x), which returns the index position of the leftmost occurrence of object x in tuple t, or
print(t.index("i"))
# raises a ValueError exception if there is no x in the tuple.
print(t.index("z"))

2
0
3

ValueError: ignored

In [ ]:
# In addition, tuples can be used with the operators
# + (concatenation), 
hair = "black", "brown", "blonde", "red"
print(hair[:2] + ("gray",) + hair[2:])
# * (replication), and 
hair =hair*3
print(hair)
# [] (slice), and 
hair = "black", "brown", "blonde", "red"
print(hair[2])
print(hair[-3:])
print(hair[:2], "gray", hair[2:])

# with in and 
print("black" in hair)
# not in to test for membership
print("black" not in hair)

('black', 'brown', 'gray', 'blonde', 'red')
('black', 'brown', 'blonde', 'red', 'black', 'brown', 'blonde', 'red', 'black', 'brown', 'blonde', 'red')
blonde
('brown', 'blonde', 'red')
('black', 'brown') gray ('blonde', 'red')
True
False

In [ ]:
a=("string")
print(type(a))
a=("string",)
print(type(a))

<class 'str'>
<class 'tuple'>

The += and *= augmented assignment operators can be used even though tuples are immutable—behind the scenes Python creates a new tuple to hold the result and sets the left-hand object reference to refer to it; the same technique is used when these operators are applied to strings. 

Tuples can be compared using the standard comparison operators (<, <=, ==, !=, >=, >), with the comparisons being
applied item by item

In [ ]:
a=(2,3,4,5,6,7)
b=(2,3)
a[1]<=b[1]

True

In [ ]:
# When we have tuples on the left-hand side of a binary operator, we will omit the parentheses,
a, b = (1, 2) # left of binary operator
print(a, b)
# or on the right-hand side of a unary statement, we will omit the parentheses,
del a, b # right of unary statement
# print(a, b)
# and in all other cases we will use parentheses.
for x, y in ((1, 1), (2, 4), (3, 9)): # left of binary operator
  print(x, y)

1 2
1 1
2 4
3 9

In [ ]:
def f(x):
 return x, x ** 2 # right of unary statement

In [ ]:
f(5)

(5, 25)

In [ ]:
hair = "black", "brown", "blonde", "red"
eyes = ("brown", "hazel", "amber", "green", "blue", "gray")
colors = (hair, eyes)
colors # [1][3:-1]

(('black', 'brown', 'blonde', 'red'),
 ('brown', 'hazel', 'amber', 'green', 'blue', 'gray'))

In [ ]:
colors [1][1:-1]

('hazel', 'amber', 'green', 'blue')

In [ ]:
# Nested collections to any level of depth can be created like this without formality. 
things = (1, -7.5, ("pea", (5, "Xyz"), "queue"))
print(len(things[2][1][1]))
things[2][1][1][2]

3

'z'

In [ ]:
things = (1, -7.5, ("pea", (5, "Xyz"), "queue"))
things[2][1][1]

'Xyz'

In [ ]:
# Using complex nested data structures like this can easily become confusing.
# One solution is to give names to particular index positions.
MANUFACTURER, MODEL, SEATING = (0, 1, 2)
MINIMUM, MAXIMUM = (0, 1)
aircraft = ("Airbus", "A320-200", (100, 220))
aircraft[SEATING][MAXIMUM]

220

In [ ]:
aircraft[MODEL]

'A320-200'

In [ ]:
# examples of sequence unpacking in the context of for … in loops
import math
for x, y in ((-3, 4), (5, 12), (28, -45)):
  print(math.hypot(x, y))

5.0
13.0
53.0

# Named Tuples 
A named tuple behaves just like a plain tuple, and has the same performance characteristics. What it adds is the ability to refer to items in the tuple by name as well as by index position, and this allows us to create aggregates of
data items

In [ ]:
# The collections module provides the namedtuple() function. 
# This function is used to create custom tuple data types. For example:
import collections
Sale = collections.namedtuple("Sale", "productid customerid date quantity price")

The first argument to collections.namedtuple() is the name of the custom tuple data type that we want to be created. The second argument is a string of space separated names, one for each item that our tuples will take

In [ ]:
sales = []
sales.append(Sale(432, 921, "2008-09-14", 3, 7.99))
sales.append(Sale(419, 874, "2008-09-15", 1, 18.49))

In [ ]:
total = 0
for sale in sales:
  total += sale.quantity * sale.price
print("Total ${0:.4f}".format(total)) # prints: Total $42.46

Total $42.46

# Lists 
A list is an ordered sequence of zero or more object references. Lists support the same slicing and striding syntax as strings and tuples. This makes it easy
to extract items from a list. 

Unlike strings and tuples, lists are mutable, so we
can replace and delete any of their items. It is also possible to insert, replace,
and delete slices of lists.

In [ ]:
# The list data type can be called as a function, list()—
# with no arguments it returns an empty list,
l=list()
print(l)
#with a list argument it returns a shallow copy of the argument, and
b=[2,3,4]
l=list(b)
print(l)
# with any other argument it attempts to convert the given object to a list.
l1=list("ashok")
print(l1)

[]
[2, 3, 4]
['a', 's', 'h', 'o', 'k']

In [ ]:
b is l

False

In [ ]:
# It does not accept more than one argument
l=list("ashok","kumar")
print(l)

TypeError: ignored

In [ ]:
#  Lists can also be created without using the list() function. 
# An empty list is created using empty brackets, [], and 
l=[]
print(l)
# a list of one or more items can be created by using a comma-separated sequence of items inside brackets. 
l=[2,3,4]
print(l)

[]
[2, 3, 4]

In [ ]:
# Lists can be nested, iterated over, and sliced, the same as tuples.
first, *rest = [9, 2, -4, 8, 7]
first, rest

# When the sequence unpacking operator is used like this, the expression *rest,
# and similar expressions, are called starred expressions

(9, [2, -4, 8, 7])

In [ ]:
first, *mid, last = "Charles Philip Arthur George Windsor".split()
first, mid, last

('Charles', ['Philip', 'Arthur', 'George'], 'Windsor')

In [ ]:

*directories, executable = "/usr/local/bin/gvim/app.txt".split("/")
directories, executable

(['', 'usr', 'local', 'bin', 'gvim'], 'app.txt')

In [ ]:
# Python also has a related concept called starred arguments.
def product(a, b, c):
  return a*b*c # here, * is the multiplication operator

In [ ]:
product(2, 3, 5)

30

In [ ]:
L = [2, 3, 5]
product(*L)

30

In [ ]:
product(2, *L[1:])

30

<H2>Table 3.1 List Methods</h2>
<dl>
<dt>L.append(x) <dd>Appends item x to the end of list L
<dt>L.count(x) <dd>Returns the number of times item x occurs in list L
<dt>L.extend(m) L += m <dd> Appends all of iterable m’s items to the end of list L; the operator += does the same thing
<dt>L.index(x,start, end) <dd>Returns the index position of the leftmost occurrence of item x in list L (or in the start:end slice of L); otherwise, raises a ValueError exception
<dt>L.insert(i, x) <dd>Inserts item x into list L at index position int i
<dt>L.pop() <dd>Returns and removes the rightmost item of list L
<dt>L.pop(i) <dd>Returns and removes the item at index position int i in L
<dt>L.remove(x) <dd>Removes the leftmost occurrence of item x from list L, or raises a ValueError exception if x is not found
<dt>L.reverse() <dd>Reverses list L in-place
<dt>L.sort(...) <dd>Sorts list L in-place; this method accepts the same key and reverse optional arguments as the built-in sorted()
</dl>

In [ ]:
woods= ["Cedar", "Yew", "Fir"]
woods += ["Kauri", "Larch"]
woods

['Cedar', 'Yew', 'Fir', 'Kauri', 'Larch']

In [ ]:
woods= ["Cedar", "Yew", "Fir"]
woods.append( ["Kauri", "Larch"])
woods

['Cedar', 'Yew', 'Fir', ['Kauri', 'Larch']]

In [ ]:
woods.append(woods)
woods

['Cedar', 'Yew', 'Fir', 'Kauri', 'Larch', [...]]

In [ ]:
woods[5][5][5][5][5]

['Cedar', 'Yew', 'Fir', 'Kauri', 'Larch', [...]]

In [ ]:
woods= ["Cedar", "Yew", "Fir"]
woods.extend(["Kauri", "Larch"])
woods

['Cedar', 'Yew', 'Fir', 'Kauri', 'Larch']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]
woods[2:2] = ["Pine"] 
woods

['Cedar', 'Yew', 'Pine', 'Fir', 'Spruce']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]
woods.insert(2, "Pine")
woods

['Cedar', 'Yew', 'Pine', 'Fir', 'Spruce']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]
woods[2:4] = []
woods

['Cedar', 'Yew']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]
del woods[2:4]
woods

['Cedar', 'Yew']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]

print(woods.pop())
print(woods.pop(1))
print(woods)

Spruce
Yew
['Cedar', 'Fir']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]

woods.reverse()
woods

['Spruce', 'Fir', 'Yew', 'Cedar']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]

woods = woods[::-1]
woods

['Spruce', 'Fir', 'Yew', 'Cedar']

In [ ]:
woods = ["Cedar", "Yew", "Fir", "Spruce"]
woods.sort()
woods

['Cedar', 'Fir', 'Spruce', 'Yew']

# Sets 
A set is an unordered collection of zero or more object references that refer to
hashable objects. Sets are mutable, so we can easily add or remove items, but
since they are unordered they have no notion of index position and so cannot
be sliced or strided.

In [ ]:
s={2,3,1,2}
s

{1, 2, 3}

In [ ]:
S = {7, "veil", 0, -29, ("x", 11), "sun", frozenset({8, 4, 7}), 913}
S

{('x', 11), -29, 0, 7, 913, frozenset({4, 7, 8}), 'sun', 'veil'}

In [ ]:
# The set data type can be called as a function, set()—with no arguments it returns an empty set,
T = set()
T

set()

In [ ]:
# with a set argument it returns a shallow copy of the argument,
T=set(S)
T

{('x', 11), -29, 0, 7, 913, frozenset({4, 7, 8}), 'sun', 'veil'}

In [ ]:
#  and with any other argument it attempts to convert the given object to a set
a=[2,3,4]
b = "String"
T=set(a)
T

{2, 3, 4}

Remove dupliate elemnt from the lit given
l = [1,2,1,2,3,4,5,3,4,5,6,7,8,6,7,8]

In [ ]:
l = [1,2,1,2,3,4,5,3,4,5,6,7,8,6,7,8]
s=set(l)
l=list(s)
l

[1, 2, 3, 4, 5, 6, 7, 8]

# Set Methods and Operators

<dl>
<dt>
s.add(x) 
<dd>Adds item x to set s if it is not already in s
<dt>s.clear() 
<dd>Removes all the items from set s
<dt>s.copy() 
<dd>Returns a shallow copy of set 
<dt>s.difference(t)  s-t
<dd>Returns a new set that has every item that is in set s that is not in set t <dt>s.difference_update(t) s -= t
<dd>Removes every item that is in set t from set s
<dt>s.discard(x) 
<dd>Removes item x from set s if it is in s; see also set.remove()
<dt>s.intersection(t) s&t
<dd>Returns a new set that has each item that is in both set s and set t
<dt>s.intersection_update(t) s &= t
<dd>Makes set s contain the intersection of itself and set t
<dt>s.isdisjoint(t) 
<dd>Returns True if sets s and t have no items in common
<dt>s.issubset(t) <= t
<dd>Returns True if set s is equal to or a subset of set t; use s < t to test whether s is a proper superset of t
<dt>s.issuperset(t) s >= t
<dd>Returns True if set s is equal to or a superset of set t; use s>t to test whether s is a proper superset of t
<dt>s.pop() 
<dd>Returns and removes a random item from set s, or raises a KeyError exception if s is empty
<dt>s.remove(x) 
<dd>Removes item x from set s, or raises a KeyError exception if x is not in s; see also set.discard()
<dt>s.symmetric_difference(t)  s^t
<dd>Returns a new set that has every item that is in set s and every item that is in set t, but excluding items that are in both sets
<dt>s.symmetric_difference_update(t)  s ^= t
<dd>Makes set s contain the symmetric difference of itself and set t
<dt>s.union(t)  s|t
<dd>Returns a new set that has all the items in set s and all the items in set t that are not in set ❄s
<dt>s.update(t) s |= t
<dd> Adds every item in set t that is not in set s, to set ss.add(x) Adds item x to set s if it is not already in s

</dl>

In [ ]:
s={1,2,3}
t={2,3}
s.issuperset(t)

True

In [ ]:
%%writefile greetings.py
# One common use case for sets is when we want fast membership testing.
#For example, we might want to give the user a usage message if they don’t enter any command-line arguments, 
# or if they enter an argument of “-h” or “--help”:
import sys
if len(sys.argv) == 1 or sys.argv[1] in {"-h", "--help"}:
  print("This is a function required three input")

Writing greetings.py

In [ ]:
%run greetings.py "-h"

This is a function required three input

In [ ]:
# Another common use case for sets is to ensure that we don’t process duplicate data
ips = [1,2,3,4,1,2,5,6,7]

seen = set()
for ip in ips:
  if ip not in seen:
    seen.add(ip)

seen

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
ips = [1,2,3,4,1,2,5,6,7]
seen=set(ips)
seen

{1, 2, 3, 4, 5, 6, 7}

# Dictionaries 
A dict is an unordered collection of zero or more key–value pairs whose keys are object references that refer to hashable objects, and whose values are object references referring to objects of any type. Dictionaries are mutable, so we can easily add or remove items, but since they are unordered they have no notion of index position and so cannot be sliced or strided.

In [ ]:
# The dict data type can be called as a function, dict()—
# with no arguments it returns an empty dictionary, 
d=dict()
print(d)

# with a mapping argument it returns a dictionary based on the argument
d=dict(id = 100270)
print(d)

{}
{'id': 100270}

In [ ]:
# Dictionaries can also be created using braces—empty braces, {}, create an empty dictionary;
d={}
print(d)
# nonempty braces must contain one or more comma separated items each of which consists of a key, a literal colon, and a value
d={"id":100270, "name":"ashok"}
print(d)

{}
{'id': 100270, 'name': 'ashok'}

In [ ]:
d1 = dict({"id": 1948, "name": "Washer", "size": 3}) # created using a dictionary literal
d2 = dict(id=1948, name="Washer", size=3) # created using a dictionary keyword arguments
d3 = dict([("id", 1948), ("name", "Washer"), ("size", 3)]) # created from sequences
d4 = dict(zip(("id", "name", "size"), (1948, "Washer", 3))) # created from sequences
d5 = {"id": 1948, "name": "Washer", "size": 3} #  created from a dictionary literal.
print(d1)
print(d2)
print(d3)
print(d4)
print(d5)

{'id': 1948, 'name': 'Washer', 'size': 3}
{'id': 1948, 'name': 'Washer', 'size': 3}
{'id': 1948, 'name': 'Washer', 'size': 3}
{'id': 1948, 'name': 'Washer', 'size': 3}
{'id': 1948, 'name': 'Washer', 'size': 3}

In [ ]:
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"root": "rover", (4, 11): 18, 0:18}
print(d)
print(d["root"])
print(d[21])
print(d[(4,11)])
print(d[91])

{'root': 'rover', 'blue': [75, 'R', 2], 21: 'venus', -14: None, (4, 11): 18, 0: 18}
rover
venus
18

KeyError: ignored

In [ ]:
l=d.copy()
l

{(4, 11): 18,
 -14: None,
 0: 18,
 21: 'venus',
 'blue': [75, 'R', 2],
 'root': 'rover'}

In [ ]:
l is d

False

In [ ]:
l=d
l

{(4, 11): 18,
 -14: None,
 0: 18,
 21: 'venus',
 'blue': [75, 'R', 2],
 'root': 'rover'}

In [ ]:
l is d

True

In [ ]:
print(l.get(21))
l.get(22,"wrong")

venus

'wrong'

In [ ]:
# To add an item we can use the = operator, f
d["X"] = 59
print(d)

# To delete an item we use the del statement
del d["X"]   # will delete the item whose key is “mars” from the dictionary, 
print(d)
del d["X"]   # raise a KeyError exception if no item has that key

{'root': 'rover', 'blue': [75, 'R', 2], 21: 'venus', -14: None, (4, 11): 18, 0: 18, 'X': 59}
{'root': 'rover', 'blue': [75, 'R', 2], 21: 'venus', -14: None, (4, 11): 18, 0: 18}

KeyError: ignored

In [ ]:
d.popitem()

(0, 18)

In [ ]:
d.get(22)

<dl>
<dt>d.clear() <dd>Removes all items from dict d
<dt>d.copy()  <dd>Returns a shallow copy of dict d 
<dt>d.fromkeys(s, v)
 <dd>Returns a dict whose keys are the items in sequence s and whose values are None or v if v is given
<dt>d.get(k)  <dd>Returns key k’s associated value, or None if k isn’t in dict d
<dt>d.get(k, v)  <dd>Returns key k’s associated value, or v if k isn’t in dict d
<dt>d.items()  <dd>Returns a view★ of all the (key, value) pairs in dict d
<dt>d.keys()  <dd>Returns a view★ of all the keys in dict d
<dt>d.pop(k)  <dd>Returns key k’s associated value and removes the item
whose key is k, or raises a KeyError exception if k isn’t in d
<dt>d.pop(k, v)  <dd>Returns key k’s associated value and removes the item
whose key is k, or returns v if k isn’t in dict d
<dt>d.popitem()  <dd>Returns and removes an arbitrary (key, value) pair from
dict d, or raises a KeyError exception if d is empty
<dt>d.setdefault(k, v)
 <dd>The same as the dict.get() method, except that if the key is not in dict d, a new item is inserted with the key k, and with a value of None or of v if v is given
<dt>d.update(a)  <dd>Adds every (key, value) pair from a that isn’t in dict d to d,
and for every key that is in both d and a, replaces the corresponding value in d with the one in a—a can be a dictionary,
an iterable of (key, value) pairs, or keyword arguments
<dt>d.values()  <dd>Returns a view★ of all the values in dict d
</dl>

In [ ]:
p={}
p.setdefault(1, 0)
p.setdefault(2, 0)
p

{1: 0, 2: 0}

In [ ]:
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}

print(d.items())
print(d.keys())
print(d.values())

dict_items([('root', 18), ('blue', [75, 'R', 2]), (21, 'venus'), (-14, None), ('mars', 'rover'), ((4, 11), 18), (0, 45)])
dict_keys(['root', 'blue', 21, -14, 'mars', (4, 11), 0])
dict_values([18, [75, 'R', 2], 'venus', None, 'rover', 18, 45])

In [ ]:
d.clear()
print(d.items())

dict_items([])

In [ ]:
d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}

print(d.pop("root"))
print(d.items())

print(d.pop("blue",[75, "R", 2]))
print(d.items())

print(d.popitem())
print(d.items())

print(d.popitem())
print(d.items())

18
dict_items([('blue', [75, 'R', 2]), (21, 'venus'), (-14, None), ('mars', 'rover'), ((4, 11), 18), (0, 45)])
[75, 'R', 2]
dict_items([(21, 'venus'), (-14, None), ('mars', 'rover'), ((4, 11), 18), (0, 45)])
(0, 45)
dict_items([(21, 'venus'), (-14, None), ('mars', 'rover'), ((4, 11), 18)])
((4, 11), 18)
dict_items([(21, 'venus'), (-14, None), ('mars', 'rover')])

In [ ]:
d = {"ash": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}

for item in d.items():
  print(item[0], item[1])

ash 18
blue [75, 'R', 2]
21 venus
-14 None
mars rover
(4, 11) 18
0 45

In [ ]:
for key, value in d.items(): 
  print(key, value)

root 18
blue [75, 'R', 2]
21 venus
-14 None
mars rover
(4, 11) 18
0 45

In [ ]:
for value in d.values():
  print(value)

18
[75, 'R', 2]
venus
None
rover
18
45

In [ ]:
for key in d:
  print(key, d[key])

ash 18
blue [75, 'R', 2]
21 venus
-14 None
mars rover
(4, 11) 18
0 45

In [ ]:
for key in d.keys():
  print(key)

ash
blue
21
-14
mars
(4, 11)
0

In [ ]:
d = {"root": 18, "blue": 75, "R": 2, "venus":21}
for key in d:
  d[key] += 1
  print(key, d[key] )

d = {"root": 18, "blue": [75, "R", 2], 21: "venus", -14: None,
"mars": "rover", (4, 11): 18, 0: 45}
for key in d:
  d[key] += 1

root 19
blue 76
R 3
venus 22

TypeError: ignored

In [ ]:
#  key and item views support some set-like operations
a={"100270":"Ashok","100271":"Kumar"}
b={"100370":"Rakesh","100271":"Kumar"}

print(a.items() & b.items()) #intersection
print(a.items() | b.items()) #union
print(a.items() - b.items()) #difference
print(b.items() - a.items()) #difference
print(a.items() ^ b.items()) #symmetric difference

{('100271', 'Kumar')}
{('100270', 'Ashok'), ('100271', 'Kumar'), ('100370', 'Rakesh')}
{('100270', 'Ashok')}
{('100370', 'Rakesh')}
{('100270', 'Ashok'), ('100370', 'Rakesh')}

In [ ]:
%%writefile uniquewords1.py
# a complete program (uniquewords1.py) that lists every word and the number of 
# times it occurs in alphabetical order for all the files listed on the command line

import string
import sys
words = {}
strip1 = string.whitespace + string.punctuation + string.digits + "\"'"
for filename in sys.argv[1:]:
  for line in open(filename):
    for word in line.lower().split():
      word = word.strip(strip1)  # lstrip(), rstrip()
      if len(word) > 2:
        words[word] = words.get(word, 0) + 1

for word in sorted(words):
  print("'{0}' occurs {1} times".format(word, words[word]))

Writing uniquewords1.py

In [ ]:
import string
strip = string.whitespace + string.punctuation + string.digits + "\"'"
strip

' \t\n\r\x0b\x0c!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~0123456789"\''

In [ ]:
word="@ashok\t"
word=word.strip(strip)
word

'ashok'

In [ ]:
%%writefile mywords.txt
Hello!
Welcome@ to the world of python.
You will enjoy learning when you practice your own and found it running successfully.

Writing mywords.txt

In [ ]:
%run uniquewords1.py mywords.txt mywords.txt

'and' occurs 2 times
'enjoy' occurs 2 times
'found' occurs 2 times
'hello' occurs 2 times
'learning' occurs 2 times
'own' occurs 2 times
'practice' occurs 2 times
'python' occurs 2 times
'running' occurs 2 times
'successfully' occurs 2 times
'the' occurs 2 times
'welcome' occurs 2 times
'when' occurs 2 times
'will' occurs 2 times
'world' occurs 2 times
'you' occurs 4 times
'your' occurs 2 times

# Built-in Modules
<ol>
<li>Mathematics and Numbers

</ol>

# Mathematics and Numbers

In addition to the built-in <b>int, float, and complex numbers</b>, the library provides the <b>decimal.Decimal and fractions.Fraction</b> numbers. 

Three numeric libraries are available: 
<ol>
<li><b>math</b> for the standard mathematical functions, 
<li><b>cmath</b> for complex number mathematical functions, and 
<li><b>random</b> which provides many functions for random number generation;

In [ ]:
import numbers
x=3
print(x,type(x))
print(x, isinstance(x,numbers.Number))
x=12E4
print(x,type(x))
x=3+5j
print(x,type(x))


from fractions import Fraction
x = Fraction(2,5)
print(x,isinstance(x, numbers.Rational))

3 <class 'int'>
3 True
120000.0 <class 'float'>
(3+5j) <class 'complex'>
2/5 True

In [ ]:
import math
x=3
print(pow(x,3))
x=36
print(math.sqrt(x))

27
6.0

In [ ]:
import cmath
print (cmath.sin(2 + 3j))
print (cmath.sin(30+0j))

print (cmath.log10(2+ 3j))

(9.15449914691143-4.168906959966565j)
(-0.9880316240928618+0j)
(0.5569716761534184+0.42682189085546657j)

In [ ]:
import random

print(random.random()) # By default the random number generator uses the current system time.

print(random.random())

random.seed(10) # Use the seed() method to customize the start number of the random number generator.
print(random.random())

random.seed(10)
print(random.random())

0.4288890546751146
0.5780913011344704
0.5714025946899135
0.5714025946899135

# Times and Dates
The calendar and datetime modules provide functions and classes for date and
time handling. However, they are based on an idealized Gregorian calendar,
so they are not suitable for dealing with pre-Gregorian dates. 

Time and date handling is a very complex topic—the calendars in use have varied in different places and at different times, a day is not precisely 24 hours, a year is not exactly 365 days, and daylight saving time and time zones vary

In [ ]:
from datetime import datetime
 
dt = datetime.today()
print(dt)
struct = dt.utctimetuple()
print(struct)

2022-07-28 07:18:04.971200
time.struct_time(tm_year=2022, tm_mon=7, tm_mday=28, tm_hour=7, tm_min=18, tm_sec=4, tm_wday=3, tm_yday=209, tm_isdst=0)

In [ ]:
import calendar
import time
from datetime import datetime
#dt = datetime(2017, 12, 31)
dt = datetime.today()
print(time.mktime(dt.timetuple())) # time.mktime() assumes that the passed tuple is in local time, 
print(calendar.timegm(dt.timetuple())) # calendar.timegm() assumes it's in GMT/UTC.

1658993077.0
1658993077

# File, Directory, and Process Handling 

The shutil module provides high-level functions for file and directory handling,
including shutil.copy() and shutil.copytree() for copying files and entire
directory trees, shutil.move() for moving directory trees, and shutil.rmtree()
for removing entire directory trees, including nonempty ones.

The filecmp module can be used to compare files with the filecmp.cmp() function and to compare entire directories with the filecmp.cmpfiles() function

The subprocess module which can start other processes, communicate with them using pipes, and retrieve their results. 

The multiprocessing module, provides extensive facilities for offloading work to multiple processes and for accumulating results, and can often be used as an alternative to multithreading.

The os module provides platform-independent access to operating system functionality. The os.environ variable holds a mapping object whose items are environment variable names and their values. The program’s working directory
is provided by os.getcwd() and can be changed using os.chdir().

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
os.chdir('/content/sample_data')
print(os.getcwd())

# os.access() function can be used to determine whether a file exists or whether it is readable or writable
print(os.access("mnist_test.csv",os.F_OK)) #  to test the existence of path
print(os.access("mnist_test.csv",os.R_OK)) # to test the readability of path
print(os.access("mnist_test.csv",os.W_OK)) # to test the writability of path
print(os.access("mnist_test.csv",os.X_OK)) # to test the executability of path

os.chdir('/content')
os.getcwd()

/content/sample_data
True
True
True
False

'/content'

In [ ]:
# The os.listdir() function returns a list of the entries 
# (e.g., the files and directories, but excluding the . and .. entries), 
# in the directory it is given

os.listdir()

['.config', 'uniquewords1.py', 'mywords.txt', 'sample_data']

In [ ]:
# The os.stat() function returns various items of information about a file or 
# directory, such as its mode, access time, and size
os.stat('sample_data')

os.stat_result(st_mode=16877, st_ino=4063266, st_dev=38, st_nlink=1, st_uid=0, st_gid=0, st_size=4096, st_atime=1658845531, st_mtime=1657719788, st_ctime=1658845531)

In [ ]:
# Directories can be created using 
os.mkdir("Ashok")
os.mkdir("Ashok1")
os.mkdir("Ashok2")
os.mkdir("Ashok3")
# or if intermediate directories need to be created, using 
os.makedirs("Ashok/Kumar/Patel")

In [ ]:
# Empty directories can be removed using 
os.rmdir("Ashok1"), 
# and directory trees that contain only empty directories can be removed using 
os.removedirs("Ashok/Kumar/Patel")

In [ ]:
# Files or directories can be removed using
os.remove("mywords.txt"), 

# and can be renamed using 
os.rename("Ashok3","Kumar")

In [ ]:
# The os.walk() function iterates over an entire directory tree, retrieving the
# name of every file and directory in turn


for root, dirs, files in os.walk(".", topdown=True):
   for name in files:
      print(os.path.join(root, name))
   for name in dirs:
      print(os.path.join(root, name))

./uniquewords1.py
./.config
./Ashok2
./Kumar
./sample_data
./.config/active_config
./.config/.last_update_check.json
./.config/gce
./.config/.last_survey_prompt.yaml
./.config/.last_opt_in_prompt.yaml
./.config/config_sentinel
./.config/logs
./.config/configurations
./.config/logs/2022.07.13
./.config/logs/2022.07.13/13.42.32.441281.log
./.config/logs/2022.07.13/13.41.43.930690.log
./.config/logs/2022.07.13/13.42.53.106562.log
./.config/logs/2022.07.13/13.42.53.841315.log
./.config/logs/2022.07.13/13.42.05.105178.log
./.config/logs/2022.07.13/13.42.25.014838.log
./.config/configurations/config_default
./sample_data/anscombe.json
./sample_data/README.md
./sample_data/mnist_test.csv
./sample_data/california_housing_train.csv
./sample_data/california_housing_test.csv
./sample_data/mnist_train_small.csv

# String Handling
The string module provides some useful constants such as string.ascii_letters and string.hexdigits. It also provides the string.Formatter class which we
can subclass to provide custom string formatters. 

The textwrap module can be used to wrap lines of text to a specified width, and to minimize indentation.

The struct module provides functions for packing and unpacking numbers, Booleans, and strings to and from bytes objects using their binary representations.

The difflib module provides classes and methods for comparing sequences,
such as strings, and is able to produce output both in standard “diff ” formats
and in HTML

Python’s most powerful string handling module is the re (regular expression)
module.

# Regular Expressions 

A regular expression is a compact notation for representing a collection of strings. What makes regular expressions so powerful is that a single regular
expression can represent an unlimited number of strings—providing they meet the regular expression’s requirements.

Regexes are used for five main purposes:
<ul>
<li> Parsing: identifying and extracting pieces of text that match certain
criteria—regexes are used for creating ad hoc parsers and also by traditional parsing tools
<li> Searching: locating substrings that can have more than one form, for
example, finding any of “pet.png”, “pet.jpg”, “pet.jpeg”, or “pet.svg” while
avoiding “carpet.png” and similar
<li> Searching and replacing: replacing everywhere the regex matches with
a string, for example, finding “bicycle” or “human powered vehicle” and
replacing either with “bike”
<li> Splitting strings: splitting a string at each place the regex matches, for
example, splitting everywhere colon-space or equals (“: ” or “=”) occurs
<li> Validation: checking whether a piece of text meets some criteria, for
example, contains a currency symbol followed by digit
</ul>

In [ ]:
# The match() method returns zero or more characters which match the pattern at the beginning of 
# string. The match() function returns none if the string does not matches the pattern
import re
match_obj = re.match("Python Programming", "Python Programming Language")
match_obj

In [ ]:
# The method group() on match returns the matching string.
match_obj.group(0) #group() method on match

'Python Programming'

In [ ]:
# index position of match string from where it starts and ends
print(match_obj.start(),match_obj.end())

0 18

In [ ]:
match_obj = re.match("Programming", "Python Programming Language")
match_obj  # return none as match in the begining of string not found

In [ ]:
# The search() method same as that of macth() method of regular expression. 
# The main advantage of serach() method is that it does not restrict us to 
# find matches at the beginning of the string only. 

search_obj = re.search(r"Programming", "Python Programming Language")
print(search_obj)
print(search_obj.group(0))
print(search_obj.start(),search_obj.end())

<re.Match object; span=(7, 18), match='Programming'>
Programming
7 18

In [ ]:
search_obj = re.search(r"Programming", "Python Programming is my favorate Programming Language")
print(search_obj)
print(search_obj.group(0))
print(search_obj.start(),search_obj.end())

<re.Match object; span=(7, 18), match='Programming'>
Programming
7 18

In [ ]:
# The string is scanned from left to right and the pattern is to be searched 
# if matched ones are returned in the order they are found. 
# Finally, it returns the list of all matching patterns from the string.

re.findall("Python","Programming in Python.I like Python")

['Python', 'Python']

Regular expression containing operators
<dl>
<dt><b>.</b> <dd>Matches any character except a new line. 
<dt>^ <dd>Matches beginning of the string. 
<dt>$ <dd>Matches the end of the string. 
<dt>x? <dd>Matches x 0 or 1 time.
<dt>+ <dd>Matches x 1 or more times. 
<dt>x* <dd>Matches x 0 or more times.
<dt>[] <dd>Uses to indicate a set of characters. 
<dt>\w <dd>Matches any alphanumeric characters and the underscores. 
<dt>\D <dd>Matches any non-digit characters. 
<dt>\d <dd>Matches any numeric digit. 
<dt>\A <dd>Matches only at the start of the string. 
<dt>a|b <dd>Matches either a or b.
<dt>x{m} <dd>Matches exactly ‘m’ copies of x. 
<dt>{m,n} <dd>It will match m to n repetitions
</dl>

In [ ]:
re.findall('.','Python Programming \n Welcomes you') #Extract each character from the given string except \n (new line)

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'P',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g',
 ' ',
 ' ',
 'W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 's',
 ' ',
 'y',
 'o',
 'u']

In [ ]:
re.findall('^P.*','Python Programming, Py Welcomes you')

['Python Programming, Py Welcomes you']

In [ ]:
re.findall('.*you$','Python Programming, Py Welcomes you')

['Python Programming, Py Welcomes you']

In [ ]:
re.findall('\w','Python Programming') #To avoid space ' ' as in previous example \w is used instead of “.”

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 'P',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g']

In [ ]:
re.findall('\w*','I Love Python') # Extract words from given string

['I', '', 'Love', '', 'Python', '']

In [ ]:
re.findall('\w+','I Love Python') # “*” returns zero or more different matches. In order to remove space, we will go with ‘+’.

['I', 'Love', 'Python']

In [ ]:
re.findall('^\w+','I Love Python') # Extract only first word from the sentence

['I']

In [ ]:
re.findall('\w+$','I Love Python') # Extract last word from the sentence

['Python']

In [ ]:
re.findall('\d{2}-\d{2}-\d{4}','India 15-08-1947') # Extract date from the string

['15-08-1947']

In [ ]:
re.findall("(@\w+).(\w+)", "abc@gmail.co.in, mit@standford.edu") # Extract domain names from the given e-mail ids

[('@gmail', 'co'), ('@standford', 'edu')]

In [ ]:
# split the string by the occurrences of pattern.
print(re.split("y","Python"))

print(re.split("-","978-92-95055-02-5"))

print( re.split("-","978-92-95055-02-5", maxsplit=3))

['P', 'thon']
['978', '92', '95055', '02', '5']
['978', '92', '95055', '02-5']

In [ ]:
# The sub() method helps us to search a pattern and replace with new sub-strings. 
# If the pattern to be searched is not found, then the original string will remain unchanged.
# re.sub(pattern, repl, string)

re.sub("Python", "India", "I Love Python")

'I Love India'

In [ ]:
# Let us compile the regular expression pattern into a regular expression object which later can be 
# used for matching by utilizing its match(), search() and findall() methods.

Comp_obj = re.compile("Python") 
result = Comp_obj.findall("I Love Python")
result

['Python']